.saved-publications {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;
    margin: 2em 10% 0;
}
.saved__header {
    position: relative;
    width: 100%;
}
.saved__header .back-button {
    position: absolute;
    top: -2em;
    left: -2em;
    width: 3em;
    height: 3em;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.favorites-list {
    margin-top: 2em;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;
}

@media (min-width: 768px) {
    .favorites-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1em;
    }
    
}