.login {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.login__title {
    text-align: center;
}

.login__form {
    display: flex;
    flex-flow: column;
    gap: 1em;

    padding: 1em;
    border: 2px solid #008d76;
    border-radius: 20px;

    margin: 0 2em;
}

.login__form input {
    padding: .5em 1em;
    background-color: #2e2e2e;
    border: none;
    border-radius: 20px;
}

.login__form button {
    padding: .5em 1em;
    background-color: #008d76;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
}

.register-link {
    width: 100%;

    text-align: center;
}
