.auth-section {
    width: 100%;
    display: flex;
    flex-flow: column;
    text-align: center;
    color: white;

    align-items: center;
}

.auth-section a {
    color: white;
}

.login__title {
    text-align: center;
}

.login__form {
    display: flex;
    flex-flow: column;
    gap: 1em;

    padding: 1em;
    border: 1px solid #FF9519;
    border-radius: 20px;

    margin: 0 2em;
    text-align: left;
    width: 80%;
    max-width: 500px;
}

.login__form h1 {
    text-align: center;
}

.login__form label {
    font-size: 1.2rem;
    margin-left: .5em;
}

.login__form input {
    padding: 1em;
    background-color: #2e2e2e;
    border: none;
    border-radius: 20px;;
}

.login__form input::placeholder {
    font-size: 1rem;
}

.login__form button {
    padding: .5em 1em;
    background-color: #FF9519;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 1rem;

    margin-top: 1em;
}

.register-link {
    width: 100%;

    text-align: center;
    margin-top: 1em;
}

.logotipo-login {
    width: 50%;
    margin-top: 30%;
}



@media (min-width: 768px) {
    .logotipo-login {
        width: 20%;
        margin-top: 5%;
    }
}
