.my-nav {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    background-color: black;

    height: 4em;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

li a {
    color: white;
    text-decoration: none;
}