.register {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.register__title {
    text-align: center;
}

.register__form {
    display: flex;
    flex-flow: column;
    gap: 1em;

    padding: 1em;
    border: 2px solid #FF9519;
    border-radius: 20px;

    margin: 0 2em;
}

.register__form input {
    padding: .5em 1em;
    background-color: #2e2e2e;
    border-radius: 10px;
}

.register__form button {
    padding: .5em 1em;
    background-color: #FF9519;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}

.login-link {
    width: 100%;

    text-align: center;
}
