.my-user-profile {
    top: 0;
    bottom: 0;

    width: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;
}




.my-user-profile__header {
    width: 100%;
    position: relative;
}

.edit-profile-button {
    width: 2.5em;
    height: 2.5em;

    position: absolute;
    top: 1em;
    left: 1em;

    background-color: #FF9519;
    color: black;

    border: none;
    border-radius: 40px;

    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.my-user-profile__header__img {
    width: 100%;
}

.my-user-profile__img {
    width: 30%;
    position: absolute;
    bottom: -2em;
    right: 36%;

    border: 1px solid #FF9519;
    border-radius: 100px;
}




.my-user-profile__data {
    width: 90%;
    display: flex;
    flex-flow: column;

    margin-top: 1em;
}

.data--info {
    display: flex;
    flex-flow: column;
}
.data--name-lastname {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}
.data--username {
    font-size: .8rem;
    margin: 0;
}

.data--art-category {
    font-size: 1.2rem;
}

.data--biography {
    font-size: 1rem;
}

.data--location {
    font-size: .8rem;
}

.data--follow {
    display: flex;
    flex-flow: row;
    gap: 1em;
}
.data--following, .data--followers {
    font-size: .8rem;
}



.my-user-profile__buttons {
    width: 90%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 1em;
    padding: 0 2em;
}
.saved-dates-button, .logout-button {
    width: 100%;
    max-width: 250px;

    background-color: #FF9519;
    color: black;
    padding: .5em 1em;
    border: none;
    border-radius: 10px;

    font-size: 1rem;

    cursor: pointer;
}

.my-user-profile__publications {
    text-align: center;
}





@media (min-width: 768px) {
    .my-user-profile__header {
        max-height: 400px;
    }
    .my-user-profile__header__img {
        width: 100%;
        height: 100%;
    }
    .my-user-profile__img {
        width: 15%;
        position: absolute;
        bottom: -4em;
        right: 43%;
    }
}