.search-bar {
    padding: 1em;
    border: 1px solid #FF9519;
    border-radius: 20px;
    width: 80%;
    max-width: 800px;
}
.search-svg-text {
    display: flex;
    flex-flow: row;
    align-items: center;

    background-color: #2e2e2e;
    border-radius: 40px;

    padding: .5em 1em;
    gap: .5em;
}
.search-bar input {
    width: 100%;
    background-color: #2e2e2e;
    border: none;
    border-radius: 20px;

    height: 2em;
}

input::placeholder {
    color: white;
    font-size: .8rem;
    width: 100%;
    font-size: 1rem;
}