.search-bar {
    padding: 1em;
    border: 1px solid var(--button-color);
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
}
.search-svg-text {
    display: flex;
    flex-flow: row;
    align-items: center;

    background-color: var(--items-color);
    border-radius: 40px;

    padding: .5em 1em;
    gap: .5em;
}
.search-bar input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 20px;

    height: 2em;
    color: white;
}

input::placeholder {
    color: white;
    font-size: .8rem;
    width: 100%;
    font-size: 1rem;
}

.controls {
    margin-bottom: 1em;
}